header{
    height: 20px;
    background-color: cyan;
    border: 3px solid;
    border-color: yellow;
}

body{
    text-shadow:0 0 20px #00FFFC,2px 3px 3px #141414, 0 0 100px #00D4D1;color:#00FFFC;
    background-color:black;
    outline-style: solid;
    outline-color: blueviolet;
}



.div{
    margin: 0;
}

