body{
    margin: 0;
    font-size: 30px;
    background-color: beige;
}


.image{
    height: 100vh;
    background-image: url(../img/white.png);
    background-size: cover;
    background-repeat: no-repeat;     
}